/* common css */
*{
  font-family: 'Open Sans', sans-serif;
}
.btn-primary{
  background-color: #E55473;
  color: #FFFFFF;
  border-radius: 8px;
  border: 0;
  padding: 15px 25px;
  align-items: center;
  /* width: 15%; */
}
/* start banner section */
header{
  background-color: rgba(229, 84, 115, 0.05);
}
.banner-container{
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
}

.banner-title{
color: #272727;
font-size: 35px;
font-weight: 800;
}
.banner-description{
  color:gray;
  font-size: 18px;
}
.banner-img{
}
.banner-content{
}
/* finished banner section */
/* start feature section */
.feature-photo-one{
  background-color:rgba(167, 33, 98, 0.15);
  width: 500px;
  height: 400px;
  border-radius: 300px 300px 0px 0px;
  background-image: url(../images/pngwing\ 6.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto 60%;
}
.feature-photo-two{
  background-color:rgba(5, 151, 160, 0.15);
  width: 500px;
  height: 400px;
  border-radius: 300px 300px 0px 0px;
  background-image: url(../images/pngwing\ 5.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto 60%;
}
.feature-photo-three{
  background-color:rgba(71, 125, 17, 0.15);
  width: 500px;
  height: 400px;
  border-radius: 300px 300px 0px 0px;
  background-image: url(../images/pngwing\ 7.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto 60%;
}
.feature-container{
  display: flex;
  width: 80%;
  margin: auto;
  gap: 20px;
}
.feature-title{
  color: #272727;
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  margin-top:100px ;
}
.feature-description{
  color: gray;
  font-size: 18px;
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}
/* finish feature section area */
/* start support area */
.support-container{
  width: 80%;
  margin: auto;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  height: 30vh;
  margin-bottom: 100px;
}
.support-info{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.support-content{
  text-align: center;
  padding-top: 30px;
}
/* finish support section */
/* start hot deal section */
.deal-container{
  background-color: rgba(229, 84, 115, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}
.deal-info{
  width: 50%;
  text-align: center;
}
.deal-info h1{
  color: #272727;
  font-size: 35px;
  font-weight: 800;
}
.deal-info p{
  color: gray;
  font-size: 18px;
}
.deal-img{
  width: 50%;
  text-align: center;
  margin-right: 50px;
}
.deal-img img{
  width: 318px;
}
/* finished hot deal area */
/* start insta area */
.insta-container{
  width: 80%;
  margin: auto;
}
.insta-info{
  text-align: center;
  margin-top: 100px;
}
.insta-info h1{
  color: #272727;
  font-size: 35px;
  font-weight: 800;
}
.insta-info p{
  color: gray;
  font-size: 18px;
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
}
.cards{
  display: flex;
  gap: 20px;
}
.icon-img{
  width: 100%;
}
/* finished insta area */
/* start get lates deals */
.get-container{
  background-image: url(../images/Rectangle\ 9.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  border-radius: 8px;
  width: 80%;
  margin: auto;
  height: 55vh;
}
.get-info{
  margin-top: 100px;
  padding-top: 100px;
  text-align: center;
}
.get-info h1{
  color: #272727;
  font-size: 35px;
  font-weight: 800;
}
.get-info p{
  color: gray;
  font-size: 18px;
}
.get-info input{
  background-color: #FFFFFF;
  border: 0;
  padding: 15px 25px;
  width: 40%;
  border-radius: 8px;
  font-size: 18px;
}
/* finished get latest deal */
/* start footer area */
footer{
  background-color: #272727;
  height: 50vh;
}
.footer-info{
  padding-top: 70px;
  text-align: center;
}
.footer-info h1{
  color: #FFFFFF;
  font-size: 35px;
  font-weight: 800;
}
.footer-info p{
  color: gray;
  font-size: 18px;
}
/* finished footer area */
/* start contract area  */
.contract-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contract-title{
  color: #272727;
  font-size: 35px;
  text-align: center;
  font-weight: 800;
}
.left-side-contract{
  /* width: 50%; */
  /* margin: auto; */
}
.contract input{
  display: block;
  color: black;
  width: 100%;
  padding: 18px 35px;
  margin-bottom: 25px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid black;

}