/* common css */
*{
  font-family: 'Open Sans', sans-serif;
}
.btn-primary{
  background-color: #E55473;
  color: #FFFFFF;
  border-radius: 8px;
  border: 0;
  padding: 15px 25px;
  align-items: center;
  /* width: 15%; */
}
/* start banner section */
header{
  background-color: rgba(229, 84, 115, 0.05);
}
.banner-container{
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  
}
.banner-title{
color: #272727;
font-size: 35px;
font-weight: 800;
}
.banner-description{
  color:gray;
  font-size: 18px;
}
.banner-img{
}
.banner-content{
}
/* finished banner section */
/* start hot deal section */
.deal-container{
  background-color: rgba(229, 84, 115, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}
.deal-info{
  width: 50%;
  text-align: center;
}
.deal-info h1{
  color: #272727;
  font-size: 35px;
  font-weight: 800;
}
.deal-info p{
  color: gray;
  font-size: 18px;
}
.deal-img{
  width: 50%;
  text-align: center;
  margin-right: 50px;
}
.deal-img img{
  width: 318px;
}
/* finished hot deal area */
/* start insta area */
.insta-container{
  width: 80%;
  margin: auto;
}
.insta-info{
  text-align: center;
  margin-top: 100px;
}
.insta-info h1{
  color: #272727;
  font-size: 35px;
  font-weight: 800;
}
.insta-info p{
  color: gray;
  font-size: 18px;
}
.cards{
  display: flex;
  gap: 20px;
}
.icon-img{
  width: 100%;
}
/* finished insta area */
/* start get lates deals */
.get-container{
  background-image: url(../images/Rectangle\ 9.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  border-radius: 8px;
  width: 80%;
  margin: auto;
  height: 55vh;
  align-items: center;
}
.get-info{
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 100px;
  text-align: center;
}
.get-info h1{
  color: #272727;
  font-size: 35px;
  font-weight: 800;
}
.get-info p{
  color: gray;
  font-size: 18px;
}
.get-info input{
  background-color: #FFFFFF;
  border: 0;
  padding: 15px 25px;
  width: 40%;
  border-radius: 8px;
  font-size: 18px;
}